.headerBar {
  height: 40px;
  width: 100%;
  background-color: purple;
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;
}

.headerBar__front {
  display: flex;
  flex-direction: row;
  justify-items: center;
  column-gap: 1.3rem;
  margin-left: 1rem;
}
.headerBar__searchBar {
  height: 18px;
  width: 10rem;
  border: 1.5rem white 5rem;
}

.headerBar__text {
  margin-left: 1rem;
}

.headerBar__ShoppingCart {
  margin-right: 1rem;
}

// .shoppingCart__title {
//   margin-top: -16px;
//   margin-right: -1rem;
//   height: 43px;
//   width: 15rem;
//   border-bottom-style: ridge;
//   border-top-style: ridge;
//   background-color: whitesmoke;
//   color: rgb(80, 75, 75);
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   font-size: 1.1rem;
//   padding: 0rem 1rem;
//   padding-top: 10px;
//   position: relative;
//   z-index: 1;
// }
